*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'poppin', sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.navbar-links{
    display: flex;
    column-gap: 20px;
}
.navbar-links a{
    text-decoration: none;
    color: #1d232c;
}
.navbar-links a:hover{
    text-decoration: underline;
    color: #1d232c;
}
.navbar-menu-toggle{
    display: none;
}
.side-navbar{
    background-color: #1d232c;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    color: white;
    transition: 2s;
   
}
.side-navbar-link{
    margin-bottom: 30px;
}
.side-navbar-links a{
    text-decoration: none;
    color: white;

}
.side-navbar-links a:hover{
    text-decoration: underline;
}
.header{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}
.header-button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: #1d232c;
    color: white;
    cursor: pointer;
}

.service{
    padding: 20px;
}
.service-container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-container-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.service-container-2 div{
    background-color: #F2F4F7;
    border-radius: 5px;
    padding: 10px;
}
.new-arrival{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.new-arrival-container{
    position: relative;
    flex-basis: 20%;
}
.new-arrival button{
    display: inline-block;
    padding-left:10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    color: #1D232C;
    position: absolute;
    top: 50%;
    left: 11%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 2s ease;
    
}
.new-arrival button:hover{
    background-color: gray;
}
.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.news input{
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid black;
}
.news button{
    margin-top: 10px;
    color: #F2F4F7;
    background-color: #1d232c;
    border-radius: 10px;
    padding: 10px;
}
.footer{
    margin-top: 20px;
    padding: 40px;
    background-color: #1D232C;
    color: white;
    justify-content: center;
    align-items: center;

}
.product-section{
    margin-top: 20px;
    
}
.product-search{
    width: 80%;
    border: solid black 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;

}
.product-search input{
    border: none;
    background-color: transparent;
    width: 100%;
}
.product-search input:focus{
    outline:none;
}
.products{
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product-box{
    text-align: center;
    flex-basis: 20%;
}
.product-box img{
    border-radius: 10px;
}
.contact{
   justify-content: center;
    background-color: #1e293a;
    padding: 50px;
    text-align: center;
}
.container{
    max-width: 800px;
    margin: 0 auto;
    justify-content: center;
}
.container h1{
    font-size: 36px;
    margin-bottom: 40px;
    color: rgb(0, 0, 0);
}
.contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    justify-content: center;
}
.contact-form{
    text-align: left;
}
.contact-form h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #fafafa;
}
.form-group{
    margin-bottom: 20px;
}
input, textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #1d232c;
    color: #F2F4F7;
}
input:focus,
textarea:focus{
    outline: none;
    box-shadow: 0 0 8px #bbb;
}
.button-con{
    display: inline-block;
    padding: 12px 24px;
    background-color: #4caf50;
    color: #F2F4F7;
    border: none;
    cursor: pointer;
    transition: 3s ease;
}
.button-con :hover{
    background-color: #45a049;

}

@media screen and (max-width:700px) {
    .navbar-menu-toggle{
        display: block;
    }
    .navbar-links{
        display: none;
    }
    .header-image{
        display: none;
    }
    .service-container-1{
        display: none;
    }
    .service-container-2{
        flex-direction: column;
    }
    
}